de.tgmz.zdev/de.tgmz.zdev.test/src/testresources/osr/camt.029.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:iso:std:iso:20022:tech:xsd:sct:camt.029.001.03"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:sct:camt.029.001.03"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document"/>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CancellationStatusReason1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="PaymentCancellationRejection1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment2">
    <xs:sequence>
      <xs:element name="Id" type="SCLSCTId7"/>
      <xs:element name="Assgnr" type="SCLSCTParty7Choice"/>
      <xs:element name="Assgne" type="SCLSCTParty7Choice"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2"/>
      <xs:element name="Ref" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="SCLSCTDocumentType3Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RsltnOfInvstgtn" type="SCLSCTResolutionOfInvestigationV03"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation3">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="SCLSCTId7"/>
      <xs:element name="OrgnlMsgNmId" type="SCLSCTOrgnlMsgNmId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentCancellationRejection1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="LEGL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTAccountIdentification4Choice">
    <xs:sequence>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTBranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="SCLSCTFinancialInstitutionIdentification7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTCancellationIndividualStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTCancellationStatusReasonInformation1">
    <xs:sequence>
      <xs:element name="Orgtr" type="SCLSCTPartyIdentification321"/>
      <xs:element name="Rsn" type="CancellationStatusReason1Choice"/>
      <xs:element name="AddtlInf" type="Max105Text" minOccurs="1" maxOccurs="13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCashAccount16">
    <xs:sequence>
      <xs:element name="Id" type="SCLSCTAccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTClearingSystemIdentification1Choice">
    <xs:sequence>
      <xs:element name="Prtry" type="SCLSCTMax35Text_SCL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCurrencyAndAmount_3">
    <xs:simpleContent>
      <xs:extension base="SCLSCTCurrencyAndAmount_SimpleType_3">
        <xs:attribute name="Ccy" type="SCLSCTCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SCLSCTCurrencyAndAmount_SimpleType_3">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
      <xs:maxInclusive value="999999999.99"/>
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTDocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEPA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTFinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTId7">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTId8">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;|\s]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTInvestigationExecutionConfirmation3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTInvestigationStatus2Choice">
    <xs:sequence>
      <xs:element name="Conf" type="SCLSCTInvestigationExecutionConfirmation3Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTLocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
      <xs:element name="Prtry" type="SCLSCTId8"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="SCLSCTMax35Text_SCL">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCL"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTOrganisationIdentification4">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTOrganisationIdentification41">
    <xs:sequence>
      <xs:choice>
        <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
        <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTOrgnlMsgNmId">
    <xs:restriction base="xs:string">
      <xs:pattern value="pacs\.008[A-Za-z0-9\.]{0,27}"/>
      <xs:pattern value="PACS\.008[A-Za-z0-9\.]{0,27}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTOriginalTransactionReference13">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="SCLSCTCurrencyAndAmount_3"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="SttlmInf" type="SCLSCTSettlementInformation13"/>
      <xs:element name="PmtTpInf" type="SCLSCTPaymentTypeInformation22"/>
      <xs:element name="RmtInf" type="SCLSCTRemittanceInformation5" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="SCLSCTPartyIdentification322" minOccurs="0"/>
      <xs:element name="Dbtr" type="SCLSCTPartyIdentification32"/>
      <xs:element name="DbtrAcct" type="SCLSCTCashAccount16"/>
      <xs:element name="DbtrAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4"/>
      <xs:element name="CdtrAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4"/>
      <xs:element name="Cdtr" type="SCLSCTPartyIdentification32"/>
      <xs:element name="CdtrAcct" type="SCLSCTCashAccount16"/>
      <xs:element name="UltmtCdtr" type="SCLSCTPartyIdentification322" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTParty6Choice">
    <xs:sequence>
      <xs:element name="OrgId" type="SCLSCTOrganisationIdentification4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTParty6Choice2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="SCLSCTOrganisationIdentification41"/>
        <xs:element name="PrvtId" type="SCLSCTPersonIdentification5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTParty7Choice">
    <xs:sequence>
      <xs:element name="Agt" type="SCLSCTBranchAndFinancialInstitutionIdentification4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification32">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text"/>
      <xs:element name="PstlAdr" type="SCLSCTPostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="SCLSCTParty6Choice2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification321">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Nm" type="Max70Text"/>
        <xs:element name="Id" type="SCLSCTParty6Choice"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification322">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Id" type="SCLSCTParty6Choice2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPaymentTransactionInformation33">
    <xs:sequence>
      <xs:element name="CxlStsId" type="SCLSCTId7"/>
      <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3"/>
      <xs:element name="OrgnlInstrId" type="SCLSCTId7" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="Max35Text"/>
      <xs:element name="OrgnlTxId" type="SCLSCTId7"/>
      <xs:element name="TxCxlSts" type="SCLSCTCancellationIndividualStatus1Code"/>
      <xs:element name="CxlStsRsnInf" type="SCLSCTCancellationStatusReasonInformation1"/>
      <xs:element name="Assgnr" type="SCLSCTParty7Choice" minOccurs="0"/>
      <xs:element name="OrgnlTxRef" type="SCLSCTOriginalTransactionReference13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPaymentTypeInformation22">
    <xs:sequence>
      <xs:element name="SvcLvl" type="SCLSCTServiceLevel8Choice"/>
      <xs:element name="LclInstrm" type="SCLSCTLocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPersonIdentification5">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
        <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPostalAddress6">
    <xs:sequence>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTRemittanceInformation5">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Ustrd" type="Max140Text"/>
        <xs:element name="Strd" type="SCLSCTStructuredRemittanceInformation7"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTResolutionOfInvestigationV03">
    <xs:sequence>
      <xs:element name="Assgnmt" type="CaseAssignment2"/>
      <xs:element name="Sts" type="SCLSCTInvestigationStatus2Choice"/>
      <xs:element name="CxlDtls" type="SCLSCTUnderlyingTransaction3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTServiceLevel8Choice">
    <xs:sequence>
      <xs:element name="Cd" type="SCLSCTExternalServiceLevel1Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTSettlementInformation13">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SCLSCTSettlementMethod1Code"/>
      <xs:element name="ClrSys" type="SCLSCTClearingSystemIdentification1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTSettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTStructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTUnderlyingTransaction3">
    <xs:sequence>
      <xs:element name="TxInfAndSts" type="SCLSCTPaymentTransactionInformation33" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
