de.tgmz.zdev/de.tgmz.zdev.test/src/testresources/osr/pacs.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:iso:std:iso:20022:tech:xsd:sct:pacs.028.001.01"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:sct:pacs.028.001.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document"/>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentInstantStatusInquiryForInvestigationV01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FIToFIPaymentInstantStatusInquiryForInvestigationV01">
    <xs:sequence>
      <xs:element name="GrpHdr" type="SCLSCTGroupHeader5"/>
      <xs:element name="OrgnlGrpInf" type="SCLSCTOriginalGroupInformation1" minOccurs="0"/>
      <xs:element name="TxInf" type="SCLSCTPaymentTransactionInformation1" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTAccountIdentification3Choice">
    <xs:sequence>
      <xs:element name="IBAN" type="IBANIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTAnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTBranchAndFinancialInstitutionIdentification3">
    <xs:sequence>
      <xs:element name="FinInstnId" type="SCLSCTFinancialInstitutionIdentification5Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCashAccount7">
    <xs:sequence>
      <xs:element name="Id" type="SCLSCTAccountIdentification3Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTClearingSystemIdentification1Choice">
    <xs:sequence>
      <xs:element name="Prtry" type="SCLSCTMax35Text_SCL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="SCLSCTCreditorReferenceType2"/>
      <xs:element name="Ref" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="SCLSCTDocumentType3Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="SCLSCTCreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="SCLSCTCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="SCLSCTCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SCLSCTCurrencyAndAmount_3">
    <xs:simpleContent>
      <xs:extension base="SCLSCTCurrencyAndAmount_SimpleType_3">
        <xs:attribute name="Ccy" type="SCLSCTCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SCLSCTCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTCurrencyAndAmount_SimpleType_3">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
      <xs:maxInclusive value="999999999.99"/>
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTDocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTFinancialInstitutionIdentification5Choice">
    <xs:sequence>
      <xs:element name="BICFI" type="BICIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTGenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="SCLSCTOrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTGenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="SCLSCTPersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTGroupHeader5">
    <xs:sequence>
      <xs:element name="MsgId" type="SCLSCTId7"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="InstgAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
      <xs:element name="InstdAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTId7">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTId8">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;|\s]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTLocalInstrument1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
      <xs:element name="Prtry" type="SCLSCTId8"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="SCLSCTMax35Text_SCL">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCL"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTOrganisationIdentification4">
    <xs:sequence>
      <xs:choice>
        <xs:element name="AnyBIC" type="SCLSCTAnyBICIdentifier" minOccurs="0"/>
        <xs:element name="Othr" type="SCLSCTGenericOrganisationIdentification1" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTOrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="SCLSCTExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTOrgnlMsgNmId">
    <xs:restriction base="xs:string">
      <xs:pattern value="camt\.056[A-Za-z0-9\.]{0,27}"/>
      <xs:pattern value="CAMT\.056[A-Za-z0-9\.]{0,27}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTOrgnlMsgNmId2">
    <xs:restriction base="xs:string">
      <xs:pattern value="camt\.027[A-Za-z0-9\.]{0,27}"/>
      <xs:pattern value="CAMT\.027[A-Za-z0-9\.]{0,27}"/>
      <xs:pattern value="camt\.087[A-Za-z0-9\.]{0,27}"/>
      <xs:pattern value="CAMT\.087[A-Za-z0-9\.]{0,27}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTOrgnlTxRef">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="SCLSCTCurrencyAndAmount_3" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="SttlmInf" type="SCLSCTSettlementInformation3"/>
      <xs:element name="PmtTpInf" type="SCLSCTPaymentTypeInformation6"/>
      <xs:element name="RmtInf" type="SCLSCTRemittanceInformation1" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="SCLSCTPartyIdentification10" minOccurs="0"/>
      <xs:element name="Dbtr" type="SCLSCTPartyIdentification9"/>
      <xs:element name="DbtrAcct" type="SCLSCTCashAccount7"/>
      <xs:element name="DbtrAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification3"/>
      <xs:element name="CdtrAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification3"/>
      <xs:element name="Cdtr" type="SCLSCTPartyIdentification9"/>
      <xs:element name="CdtrAcct" type="SCLSCTCashAccount7"/>
      <xs:element name="UltmtCdtr" type="SCLSCTPartyIdentification10" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTOriginalGroupInformation1">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="SCLSCTId7"/>
      <xs:element name="OrgnlMsgNmId" type="SCLSCTOrgnlMsgNmId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTOriginalGroupInformation2">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="SCLSCTId7"/>
      <xs:element name="OrgnlMsgNmId" type="SCLSCTOrgnlMsgNmId2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTParty4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="SCLSCTOrganisationIdentification4"/>
        <xs:element name="PrvtId" type="SCLSCTPersonIdentification5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification10">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Id" type="SCLSCTParty4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification9">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text"/>
      <xs:element name="PstlAdr" type="SCLSCTPostalAddress1" minOccurs="0"/>
      <xs:element name="Id" type="SCLSCTParty4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPaymentTransactionInformation1">
    <xs:sequence>
      <xs:element name="StsReqId" type="SCLSCTId7"/>
      <xs:element name="OrgnlGrpInf" type="SCLSCTOriginalGroupInformation2" minOccurs="0"/>
      <xs:element name="OrgnlInstrId" type="SCLSCTId7" minOccurs="1"/>
      <xs:element name="OrgnlEndToEndId" type="Max35Text"/>
      <xs:element name="OrgnlTxId" type="SCLSCTId7"/>
      <xs:element name="OrgnlTxRef" type="SCLSCTOrgnlTxRef"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPaymentTypeInformation6">
    <xs:sequence>
      <xs:element name="SvcLvl" type="SCLSCTServiceLevel2Choice"/>
      <xs:element name="LclInstrm" type="SCLSCTLocalInstrument1Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPersonIdentification5">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
        <xs:element name="Othr" type="SCLSCTGenericPersonIdentification1" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="SCLSCTExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPostalAddress1">
    <xs:sequence>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTRemittanceInformation1">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Ustrd" type="Max140Text" maxOccurs="1"/>
        <xs:element name="Strd" type="SCLSCTStructuredRemittanceInformation6" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEPA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTServiceLevel2Choice">
    <xs:sequence>
      <xs:element name="Cd" type="SCLSCTServiceLevel1Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTSettlementInformation3">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SCLSCTSettlementMethod1Code"/>
      <xs:element name="ClrSys" type="SCLSCTClearingSystemIdentification1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTSettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTStructuredRemittanceInformation6">
    <xs:sequence>
      <xs:element name="CdtrRefInf" type="SCLSCTCreditorReferenceInformation2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
