de.tgmz.zdev/de.tgmz.zdev.test/src/testresources/osr/pacs.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:iso:std:iso:20022:tech:xsd:sct:pacs.008.001.02"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:sct:pacs.008.001.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document"/>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditTransferTransactionInformation11">
    <xs:sequence>
      <xs:element name="PmtId">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="SCLSCTPaymentIdentification3">
              <xs:sequence>
                <xs:element name="InstrId" type="SCLSCTId7" minOccurs="0"/>
                <xs:element name="EndToEndId" type="Max35Text"/>
                <xs:element name="TxId" type="SCLSCTId7"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PmtTpInf" type="SCLSCTPaymentTypeInformation21"/>
      <xs:element name="IntrBkSttlmAmt" type="SCLSCTCurrencyAndAmount_3"/>
      <xs:element name="ChrgBr" type="SCLSCTChargeBearerType1Code"/>
      <xs:element name="InstgAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="SCLSCTPartyIdentification321" minOccurs="0"/>
      <xs:element name="Dbtr" type="SCLSCTPartyIdentification322"/>
      <xs:element name="DbtrAcct" type="SCLSCTCashAccount161"/>
      <xs:element name="DbtrAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4"/>
      <xs:element name="CdtrAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4"/>
      <xs:element name="Cdtr" type="SCLSCTPartyIdentification322"/>
      <xs:element name="CdtrAcct" type="SCLSCTCashAccount161"/>
      <xs:element name="UltmtCdtr" type="SCLSCTPartyIdentification321" minOccurs="0"/>
      <xs:element name="Purp" type="Purpose2Choice" minOccurs="0"/>
      <xs:element name="RmtInf" type="SCLSCTRemittanceInformation5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV02"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FIToFICustomerCreditTransferV02">
    <xs:sequence>
      <xs:element name="GrpHdr" type="SCLSCTGroupHeader33"/>
      <xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation11" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="\S+.*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Purpose2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPurpose1Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTAccountIdentification4Choice">
    <xs:sequence>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTBranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="SCLSCTFinancialInstitutionIdentification7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCashAccount161">
    <xs:sequence>
      <xs:element name="Id" type="SCLSCTAccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SLEV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTClearingSystemIdentification3Choice">
    <xs:sequence>
      <xs:element name="Prtry" type="SCLSCTId7_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="SCLSCTCreditorReferenceType2"/>
      <xs:element name="Ref" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="SCLSCTDocumentType3Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="SCLSCTCreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTCurrencyAndAmount_2">
    <xs:simpleContent>
      <xs:extension base="SCLSCTCurrencyAndAmount_SimpleType_2">
        <xs:attribute name="Ccy" type="SCLSCTCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SCLSCTCurrencyAndAmount_3">
    <xs:simpleContent>
      <xs:extension base="SCLSCTCurrencyAndAmount_SimpleType_3">
        <xs:attribute name="Ccy" type="SCLSCTCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SCLSCTCurrencyAndAmount_SimpleType_2">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
      <xs:maxInclusive value="999999999999999.99"/>
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTCurrencyAndAmount_SimpleType_3">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
      <xs:maxInclusive value="999999999.99"/>
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTDocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEPA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTFinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTGroupHeader33">
    <xs:sequence>
      <xs:element name="MsgId" type="SCLSCTId7"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="NbOfTxs" type="Max15NumericText"/>
      <xs:element name="TtlIntrBkSttlmAmt" type="SCLSCTCurrencyAndAmount_2"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="SttlmInf" type="SCLSCTSettlementInformation13"/>
      <xs:element name="InstgAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="InstdAgt" type="SCLSCTBranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTId7">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTId7_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCL"/>
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SCLSCTId8">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;|\s]){1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTLocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
      <xs:element name="Prtry" type="SCLSCTId8"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SCLSCTOrganisationIdentification41">
    <xs:sequence>
      <xs:choice>
        <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
        <xs:element name="Othr" type="GenericOrganisationIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTParty6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="SCLSCTOrganisationIdentification41"/>
        <xs:element name="PrvtId" type="SCLSCTPersonIdentification51"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification321">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Id" type="SCLSCTParty6Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPartyIdentification322">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text"/>
      <xs:element name="PstlAdr" type="SCLSCTPostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="SCLSCTParty6Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPaymentIdentification3"/>
  <xs:complexType name="SCLSCTPaymentTypeInformation21">
    <xs:sequence>
      <xs:element name="SvcLvl" type="SCLSCTServiceLevel8Choice"/>
      <xs:element name="LclInstrm" type="SCLSCTLocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPersonIdentification51">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
        <xs:element name="Othr" type="GenericPersonIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTPostalAddress6">
    <xs:sequence>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTRemittanceInformation5">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Ustrd" type="Max140Text"/>
        <xs:element name="Strd" type="SCLSCTStructuredRemittanceInformation7"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTServiceLevel8Choice">
    <xs:sequence>
      <xs:element name="Cd" type="SCLSCTExternalServiceLevel1Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCLSCTSettlementInformation13">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SCLSCTSettlementMethod1Code"/>
      <xs:element name="ClrSys" type="SCLSCTClearingSystemIdentification3Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SCLSCTSettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SCLSCTStructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element name="CdtrRefInf" type="SCLSCTCreditorReferenceInformation2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
